:root {
  --bar-background-color: #c9c8ff;
  --main-color: #f4f4f4;
  --peripheral-selection: #ff9800;
  --subtitle-color: #3e3e3e;
  --label-color: #777;
  --white-to-black: #fff;
  --black-to-white: #333333;
  --button-background-color: #007bff;
  --button-hover-background-color: #0056b3;
  --button-disabled-color: #91c0f7;
  --dropdown-hover: #aaaae1;
  --dropdown-content: #ededf9;
  --dropdown-elements-hover: #c6c6e3;
}

[page-theme="dark"] {
  --bar-background-color: #333;
  --main-color: #474443;
  --peripheral-selection: #f8e217;
  --subtitle-color: #fff;
  --label-color: #c1c1c1;
  --white-to-black: #000;
  --black-to-white: #fff;
  --button-background-color: #fb0000;
  --button-hover-background-color: #cd0000;
  --button-disabled-color: #f79191;
  --dropdown-hover: #000000;
  --dropdown-content: #636262;
  --dropdown-elements-hover: #333;
}

* {
  color: var(--black-to-white);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-height: 100vh;
}

.device-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.header-bar {
  display: flex;
  /* align-content: space-evenly; */
  justify-content: space-between;
  /* align-items: baseline; */
  background-color: var(--bar-background-color);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

#header-middle {
  width: fit-content;
}

#theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.wrapper-horizontal {
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-vertical {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.label-input-wrapper {
  display: flex;
  gap: 10px;
  align-items: baseline;
  justify-content: space-between;
}

.card {
  background-color: var(--white-to-black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
}

.card-form {
  display: flex;
  flex-direction: column;
  background-color: var(--white-to-black);
  border-radius: 10px;
  display: flex;
  gap: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 80%;
  max-width: 600px;
}

.label {
  font-size: 14px;
  color: var(--label-color);
  word-wrap: normal;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--white-to-black);
  text-wrap: wrap;
}

input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--white-to-black);
  text-wrap: wrap;
}

textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--white-to-black);
  text-wrap: wrap;
}

#list-of-scanned-products input[type="text"] {
  min-width: 10em;
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  color: var(--subtitle-color);
}

.dropdown {
  min-width: 10em;
  width: 180px;
  position: relative;
}

.dropdown * {
  box-sizing: border-box;
}

.dropdown-head {
  background: var(--bar-background-color);
  color: #191970;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a2f3b solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  gap: 5px;
  transition: 0.3s;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid;
  transition: 0.3s;
}

.dropdown:hover .caret {
  transform: rotate(180deg);
}

.dropdown:hover .dropdown-head {
  background: var(--dropdown-hover);
  border-color: var(--button-background-color);
}

.dropdown-title {
  padding: 8px 12px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #000;
}

.dropdown-content {
  padding: 0.2em 1em;
  /* background: #ededf9; */
  background: var(--dropdown-content);
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: black;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: none;
  transition: 0.2s;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content .dropdown-elements {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  color: rgb(173, 152, 175), 171, 180;
}

.dropdown .dropdown-elements:hover {
  background: var(--dropdown-elements-hover);
}

#signature-img {
  width: 200px;
  height: 200px;
}

#coordinate-signature-renderer {
  width: 200px;
  height: 100px;
  background-color: #9dddf0;
}

.hidden {
  display: none;
}

#scan-signature-button {
  margin-left: 10px;
}

#signature-wrapper {
  background-color: #fff;
}

#available-readers-holder {
  width: 300px;
}

.vertical-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 250px;
  border-width: 2px;
  border-style: solid;
  border-color: #e4e1e1;
  background-color: var(--white-to-black);
  color: var(--black-to-white);
}

.button {
  background-color: var(--button-background-color);
  color: var(--font-color);
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-start;
  width: fit-content;
}

.button:hover {
  background-color: var(--button-hover-background-color);
}

.button:disabled {
  background-color: var(--button-disabled-color);
  cursor: default;
}

textarea {
  background-color: #ccc;
  border-style: none;
  color: #000;
}

#theme-icon {
  width: 50px;
  height: auto;
}

#theme-icon:hover {
  cursor: pointer;
}

.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}